.*/*
!.github/*
!.devcontainer/devcontainer.json

.idea
**/target/

os/src/link_app.S
os/src/linker.ld
user/build
user/target/*

testsuits-for-oskernel/*
img/*

kernel-qemu
sbi-qemu
sdcard.img